:focus {
  outline-width: 3px;
  outline-style: dotted;
  outline-color: #004182;
  outline-offset: 2px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.App {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 80%;
  min-height: 360px;
  min-width: 640px;
}


h1 {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #0a66c2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #004182;
}

p {
  margin-top: 20px;
  font-size: 18px;
}
/* ... Other CSS styles ... */

.emoji {
  width: 50px; /* Adjust the size as needed */
  opacity: 0; /* Initially hide the emoji */
  animation: fadeInOut 2s forwards; /* Apply animation */
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}